<div id="container">
    <div id="row">
        <div id="col-xs-12 center">
            <h2>UserComponent</h2>
            <ul class="list-group col-md-3">
                <li class="list-group-item">Name: {{ user.firstName }} {{ user.lastName }}</li>
                <li class="list-group-item">Age: {{ user.age }}</li>
                <li class="list-group-item">Address: {{ user.address.street }}, {{ user.address.city }},
                    {{ user.address.state }}</li>
            </ul>
        </div>
    </div>
</div>